body {
    text-align: center;
    background-color: #e43f01;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 7vmin;
    text-transform: uppercase;
}

h1:hover {
    color: mediumblue;
}

h2 {
    font-size: 5vmin;
}

h2:hover {
    color: rgb(67, 67, 202);
}

h3 {
    font-size: 3vmin;
    color: floralwhite;
}

h3:hover {
    color: rgb(118, 118, 204);
}

p {
    font-size: 1.9vmin;
    color: rgb(203, 232, 250);
}